<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: '絵しりとり' %>

    <%= javascript_webpack_bundle_tag('main') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
